# DATA STRUCTURE and OBJECT

In [532]:
# integers 
a =15
b = 10

In [533]:
a + b

25

In [534]:
a - b

5

In [535]:
a*b

150

In [536]:
a/b

1.5

In [537]:
type(a)

int

In [538]:
type(b)

int

In [539]:
d = 8.6
f =9.3
g = 6.0

In [540]:
d + f + g

23.9

In [541]:
type(d + f + g)

float

In [542]:
type(g)

float

In [543]:
N = 'MYSELF SWARAJ '
M = 'I AM AT MY HOME'

In [544]:
M

'I AM AT MY HOME'

In [545]:
type(M)

str

In [546]:
N +"" +M

'MYSELF SWARAJ I AM AT MY HOME'

In [547]:
L1 = ['RAM',125,25.36,896666]

In [548]:
L1

['RAM', 125, 25.36, 896666]

In [549]:
L2 = ['SHYAM',1256,89666,3588,52.36,120.36]

In [550]:
L2

['SHYAM', 1256, 89666, 3588, 52.36, 120.36]

In [551]:
L3 = [101,'YADHAV',102.36,[56,20,30,85]]

In [552]:
L3

[101, 'YADHAV', 102.36, [56, 20, 30, 85]]

In [553]:
L3[3]

[56, 20, 30, 85]

In [554]:
L3[3][2]

30

In [555]:
L3[3][3]

85

In [556]:
L3[1]

'YADHAV'

In [557]:
L3.append("keshav")

In [558]:
L3

[101, 'YADHAV', 102.36, [56, 20, 30, 85], 'keshav']

In [559]:
L3.index(102.36)

2

In [560]:
L3.index(101)

0

# DICTIONARIES

In [561]:
D1 = {'NAME': 'SWARAJ ','AGE':'23','QUALIFICATION':'BE','ROLE':'FRESHER'}

In [562]:
D1

{'NAME': 'SWARAJ ', 'AGE': '23', 'QUALIFICATION': 'BE', 'ROLE': 'FRESHER'}

In [563]:
D1.get('AGE')

'23'

In [564]:
D1['AGE']

'23'

In [565]:
D1['ROLE']

'FRESHER'

In [566]:
D1.keys()

dict_keys(['NAME', 'AGE', 'QUALIFICATION', 'ROLE'])

In [567]:
D1.items()

dict_items([('NAME', 'SWARAJ '), ('AGE', '23'), ('QUALIFICATION', 'BE'), ('ROLE', 'FRESHER')])

# SETS

In [568]:
s1 = {1,1,1,1,2,2,3,4,4,4,4,5,5,5,6,6,6,6,'LETS','MANNKIBAAT'}

In [569]:
s1

{1, 2, 3, 4, 5, 6, 'LETS', 'MANNKIBAAT'}

In [570]:
s2 = {7,7,'MAGAR'}

In [571]:
s2.issubset(s1)

False

In [572]:
s3 = {1,2,'LETS'}

In [573]:
s3.issubset(s1)

True

# TUPLES

In [574]:
tup = (123,'TTT',2596)

In [575]:
tup

(123, 'TTT', 2596)

In [576]:
tup.count(123)

1

In [577]:
tup.index(2596)

2

# BOOLEAN

In [578]:
abc = True

In [579]:
xyx = False

In [580]:
abc

True

In [582]:
xyx

False